*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.wrapper,
.main-header,
.main-nav,
.trip,
.expense-list,
.expense,
.total,
.trip-total,
.main-footer {
    display: flex;
}

body {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    margin: .5rem;
    color: white;
}

.wrapper {
    flex-flow: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

.main-header {
    align-items: center;
    background-color: rgb(71, 142, 189);
}

.site-title {
    margin: 0 0 0 1.4rem;
}

.page-main {
    flex: 1;
}

.trip {
    flex-flow: column;
    align-items: center;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgb(29, 27, 141);
}

.expense-list {
    flex-flow: column;
    align-items: center;
}

.expense {
    justify-content: space-between;
    width: 15rem;
    margin: .5rem 1rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgb(71, 142, 189);
}

.add-expense,
.total {
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgb(71, 142, 189);
}

.trip-total {
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.main-footer {
    justify-content: center;
    background-color: rgb(71, 142, 189);
}

.helper {
    border: 1px solid red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }